.display-table{
  display: table;
  width: 100%;
  height: 100%;
  .display-table-cell{
    display: table-cell;
    vertical-align: middle;
  }
}
.full-size{
  position: relative;
  width: 100%;
  height: 100%;
}
.full-height{
  position: relative;
  height: 100%;
}
.full-width{
  position: relative;
  height: 100%;
}